<?xml version = "1.0" encoding = "ISO-8859-1"?>
<!-- <!DOCTYPE web-app
          PUBLIC
          "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
          "http://java.sun.com/dtd/web-app_2_3.dtd"> -->
	  

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4"> 


 
    <context-param>
        <param-name>javax.servlet.jsp.jstl.sql.dataSource</param-name>
        <param-value>jdbc/opa</param-value>
    </context-param>

    <resource-ref>
        <description>mysql database connection</description>
        <res-ref-name>jdbc/opa</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>mail session</description>
        <res-ref-name>mail/session</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <filter>
        <filter-name>LoadInitiativeSetup</filter-name>
        <filter-class>opa.filter.LoadInitiativeSetup</filter-class>
        <description>This filter loads some of the properties from the initiative_setup table into application context</description>
        <init-param>
            <param-name>jdbcJndi</param-name>
            <param-value>jdbc/opa</param-value>
            <description>The jdbc connection string in the jndi tree. This should be the same as the one in the resource-ref in this file.</description>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>LoadInitiativeSetup</filter-name>    
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>



<jsp-config>
	
<taglib>
	<taglib-uri>http://archer-soft.com/taglibs/cf
	</taglib-uri>

	<taglib-location>/WEB-INF/cf.tld
	</taglib-location>
</taglib>

<taglib>
	<taglib-uri>http://jakarta.apache.org/taglibs/mailer-1.1
	</taglib-uri>

	<taglib-location>/WEB-INF/taglibs-mailer.tld
	</taglib-location>
</taglib>

<taglib>
	<taglib-uri>http://java.sun.com/jstl/core
	</taglib-uri>

	<taglib-location>/WEB-INF/c.tld
	</taglib-location>
</taglib>
<taglib>
	<taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
	<taglib-location>/WEB-INF/sql.tld</taglib-location>
</taglib>
<taglib>
	<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>

	<taglib-location>/WEB-INF/fmt.tld</taglib-location>
</taglib>

<taglib>
	<taglib-uri>http://java.sun.com/jstl/xml
	</taglib-uri>

	<taglib-location>/WEB-INF/x.tld
	</taglib-location>
</taglib>

<taglib>
	<taglib-uri>http://java.sun.com/jstl/functions
	</taglib-uri>

	<taglib-location>/WEB-INF/fn.tld
	</taglib-location>
</taglib>

<taglib>
	<taglib-uri>http://fckeditor.net/tags-fckeditor
	</taglib-uri>

	<taglib-location>/WEB-INF/FCKeditor.tld
	</taglib-location>
</taglib>

</jsp-config>

</web-app>
